<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toko Buku</title>

    <!-- fonts.google.com -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- fonts.google.com -->

    <!-- feathericons.com -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- feathericons.com -->

    <link rel="stylesheet" href="css/addProduk.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <a href="#" class="navbar-logo">Toko<span>Buku</span></a>
      <div class="navbar-extra">
        <a href="#" id="search-button"><i data-feather="search"></i></a>
        <a href="#" id="shopping-cart-button"
          ><i data-feather="shopping-cart"></i
        ></a>
        <a href="#" id="menu"><i data-feather="menu"></i></a>
      </div>
      <div class="navbar-nav">
        <a href="transkasi.html" id="transaksi">transaksi</a>
        <a href="pegawai.html" id="pegawai">pegawai</a>
        <a href="produk.html" id="produk">produk</a>
        <a href="profil.html" id="username"></a>
        <a href="#" onclick="logout()">logout</a>
      </div>
    </nav>
    <!-- navbar -->

    <!-- Hero section -->
    <section class="hero" id="home">
      <main class="content">
        <h1><span>Tambah </span>Buku</h1>
        <form action="" id="formbuku">
          <div class="input-group">
            <input
              type="text"
              placeholder="judul"
              id="judul"
              name="judul"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="text"
              placeholder="sinopsis"
              id="sinopsis"
              name="sinopsis"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="number"
              placeholder="harga"
              id="harga"
              name="harga"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="number"
              placeholder="stok"
              id="stok"
              name="stok"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="file"
              placeholder="cover"
              id="cover"
              name="cover"
              required
            />
          </div>
          <div id="kategori">
          </div>
          <button type="button" class="btn" onclick="submitForm()">
            Simpan
          </button>
      </main>
    </section>
    <!-- Hero section -->

    <!-- Footer start -->
    <footer>
      <div class="socials">
        <a href="#"><i data-feather="instagram"></i></a>
        <a href="#"><i data-feather="twitter"></i></a>
        <a href="#"><i data-feather="facebook"></i></a>
      </div>
    
      <div class="credit">
        <p>Created by <a href="">kelompok2</a>. | &copy; 2024.</p>
      </div>
    </footer>
    <!-- Footer end -->

    <script>
      feather.replace();
    </script>
    <script src="js/addProduk.js"></script>
  </body>
</html>
